<a href="https://colab.research.google.com/github/Sadath43/code-ML/blob/main/Projet_scientifique_groupe_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [18]:
data=pd.read_excel('Modifiez_COLT_Etudiants_Casa_groupe2_2022.xlsx')

BadZipFile: ignored

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46933 entries, 0 to 46932
Data columns (total 43 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Patient                                             46933 non-null  int64
 1   Date Naissance (MM/AAAA)                            46933 non-null  datetime64[ns]
 2   Sexe                                                46933 non-null  object
 3   Date des derniers EFR avant greffe                  46550 non-null  object
 4   VEMS en litre                                       44984 non-null  float64
 5   VEMS en % de la théorique                           45848 non-null  float64
 6   CVF en litre                                        43918 non-null  float64
 7   CVF en % de la théorique                            44322 non-null  float64
 8   DLCO en % de la théorique                           18171 non-null  float64
 9   CPT en litre                                        31725 non-null  float64
 10  CPT en % de la théorique                            32296 non-null  float64
 11  VR en litre                                         30736 non-null  float64
 12  VR en % de la théorique                             31825 non-null  float64
 13  DEMM 25/75                                          38940 non-null  float64
 14  Date de greffe                                      46933 non-null  datetime64[ns]
 15  Type de la greffe                                   45995 non-null  object
 16  N° visite                                           46727 non-null  float64
 17  Rejet aigu cellulaire                               43899 non-null  object
 18  Rejet aigu cellulaire --> Si oui Date               28276 non-null  object
 19  Rejet médié par anticorps                           43854 non-null  object
 20  Rejet médié par anticorps --> Si oui date           22378 non-null  object
 21  Dysfonction chronique du greffon pulmonaire         18423 non-null  object
 22  Dysfonction chronique --> Si oui, date              30393 non-null  object
 23  Type                                                3539 non-null   object
 24  Dysfonction du greffon répondant à l'azithromycine  16731 non-null  object
 25  CPT en litre.1                                      15340 non-null  float64
 26  CPT en % de la théorique.1                          15483 non-null  float64
 27  VEMS en litre vrai                                  42002 non-null  float64
 28  VEMS en % de la théorique.1                         42105 non-null  float64
 29  CVF en litre.1                                      41600 non-null  float64
 30  CVF en % de la théorique.1                          41424 non-null  float64
 31  DEEM 25/75                                          40501 non-null  float64
 32  Date Examen                                         46387 non-null  object
 33  Date décès                                          11513 non-null  datetime64[ns]
 34  Cause principale du décès                           10158 non-null  object
 35  Délai                                               43355 non-null  object
 36  Phénotype                                           43354 non-null  object
 37  Date phenotypage                                    41781 non-null  object
 38  Visite de rejet                                     8093 non-null   object
 39  Date de rejet                                       7857 non-null   object
 40  Mois du rejet                                       3435 non-null   float64
 41  Grade                                               2952 non-null   float64
 42  Commentaires                                        13900 non-null  object
dtypes: datetime64[ns](3), float64(20), int64(1), object(19)
memory usage: 15.4+ MB

In [ ]:
data=data[['Patient','Date Naissance (MM/AAAA)','Sexe','Date de greffe','VEMS en litre','VEMS en % de la théorique','Type de la greffe','VEMS en litre vrai','VEMS en % de la théorique.1','Date Examen','Date décès','Phénotype','Date de rejet']]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46933 entries, 0 to 46932
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Patient                      46933 non-null  int64
 1   Date Naissance (MM/AAAA)     46933 non-null  datetime64[ns]
 2   Sexe                         46933 non-null  object
 3   Date de greffe               46933 non-null  datetime64[ns]
 4   VEMS en litre                44984 non-null  float64
 5   VEMS en % de la théorique    45848 non-null  float64
 6   Type de la greffe            45995 non-null  object
 7   VEMS en litre vrai           42002 non-null  float64
 8   VEMS en % de la théorique.1  42105 non-null  float64
 9   Date Examen                  46387 non-null  object
 10  Date décès                   11513 non-null  datetime64[ns]
 11  Phénotype                    43354 non-null  object
 12  Date de rejet                7857 non-null   object
dtypes: datetime64[ns](3), float64(4), int64(1), object(5)
memory usage: 4.7+ MB

**On sélectionne maintenant les lignes nécessaires**

In [ ]:
#supprimer les patients de phénotype autre que BOS;RAS;ARAD
a_supprimer=[]
for i in range(data.shape[0]):
    if data.iloc[i,11]!='BOS' and data.iloc[i,11]!='RAS' and data.iloc[i,11]!='ARAD':
        a_supprimer.append(i)
    if type(data.iloc[i,12])!=datetime.datetime:
      if i not in a_supprimer:
        a_supprimer.append(i)
    if type(data.iloc[i,9])!=datetime.datetime or i==5955:
      if i not in a_supprimer:
        a_supprimer.append(i)
data=data.drop(a_supprimer,axis=0)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6836 entries, 0 to 46887
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Patient                      6836 non-null   int64
 1   Date Naissance (MM/AAAA)     6836 non-null   datetime64[ns]
 2   Sexe                         6836 non-null   object
 3   Date de greffe               6836 non-null   datetime64[ns]
 4   VEMS en litre                6374 non-null   float64
 5   VEMS en % de la théorique    6678 non-null   float64
 6   Type de la greffe            6672 non-null   object
 7   VEMS en litre vrai           6747 non-null   float64
 8   VEMS en % de la théorique.1  6805 non-null   float64
 9   Date Examen                  6836 non-null   object
 10  Date décès                   3228 non-null   datetime64[ns]
 11  Phénotype                    6836 non-null   object
 12  Date de rejet                6836 non-null   object
dtypes: datetime64[ns](3), float64(4), int64(1), object(5)
memory usage: 747.7+ KB

**On vérifie que la sélection a été bien faite**

In [ ]:
data['Phénotype'].unique()

array(['BOS', 'RAS', 'ARAD'], dtype=object)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6836 entries, 0 to 46887
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Patient                      6836 non-null   int64
 1   Date Naissance (MM/AAAA)     6836 non-null   datetime64[ns]
 2   Sexe                         6836 non-null   object
 3   Date de greffe               6836 non-null   datetime64[ns]
 4   VEMS en litre                6374 non-null   float64
 5   VEMS en % de la théorique    6678 non-null   float64
 6   Type de la greffe            6672 non-null   object
 7   VEMS en litre vrai           6747 non-null   float64
 8   VEMS en % de la théorique.1  6805 non-null   float64
 9   Date Examen                  6836 non-null   object
 10  Date décès                   3228 non-null   datetime64[ns]
 11  Phénotype                    6836 non-null   object
 12  Date de rejet                6836 non-null   object
dtypes: datetime64[ns](3), float64(4), int64(1), object(5)
memory usage: 747.7+ KB

**On ajoute les colonnes nécessaires avec des valeurs initialisées à 0**

In [ ]:

data=data.assign(âge_lors_de_la_greffe=0)
data=data.assign(âge_lors_de_l_examen=0)
data=data.assign(âge_lors_du_décès=0)
data=data.assign(âge_lors_du_rejet=0)
data=data.assign(durée_de_vie_après_greffe=0)

In [ ]:
data.isnull().sum()

Patient                           0
Date Naissance (MM/AAAA)          0
Sexe                              0
Date de greffe                    0
VEMS en litre                   462
VEMS en % de la théorique       158
Type de la greffe               164
VEMS en litre vrai               89
VEMS en % de la théorique.1      31
Date Examen                       0
Date décès                     3608
Phénotype                         0
Date de rejet                     0
âge_lors_de_la_greffe             0
âge_lors_de_l_examen              0
âge_lors_du_décès                 0
âge_lors_du_rejet                 0
durée_de_vie_après_greffe         0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6836 entries, 0 to 46887
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Patient                      6836 non-null   int64
 1   Date Naissance (MM/AAAA)     6836 non-null   datetime64[ns]
 2   Sexe                         6836 non-null   object
 3   Date de greffe               6836 non-null   datetime64[ns]
 4   VEMS en litre                6374 non-null   float64
 5   VEMS en % de la théorique    6678 non-null   float64
 6   Type de la greffe            6672 non-null   object
 7   VEMS en litre vrai           6747 non-null   float64
 8   VEMS en % de la théorique.1  6805 non-null   float64
 9   Date Examen                  6836 non-null   object
 10  Date décès                   3228 non-null   datetime64[ns]
 11  Phénotype                    6836 non-null   object
 12  Date de rejet                6836 non-null   object
 13  âge_lors_de_la_greffe        6836 non-null   int64
 14  âge_lors_de_l_examen         6836 non-null   int64
 15  âge_lors_du_décès            6836 non-null   int64
 16  âge_lors_du_rejet            6836 non-null   int64
 17  durée_de_vie_après_greffe    6836 non-null   int64
dtypes: datetime64[ns](3), float64(4), int64(6), object(5)
memory usage: 1014.7+ KB

**Remplissage des colonnes âges**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6836 entries, 0 to 46887
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Patient                      6836 non-null   int64
 1   Date Naissance (MM/AAAA)     6836 non-null   datetime64[ns]
 2   Sexe                         6836 non-null   object
 3   Date de greffe               6836 non-null   datetime64[ns]
 4   VEMS en litre                6374 non-null   float64
 5   VEMS en % de la théorique    6678 non-null   float64
 6   Type de la greffe            6672 non-null   object
 7   VEMS en litre vrai           6747 non-null   float64
 8   VEMS en % de la théorique.1  6805 non-null   float64
 9   Date Examen                  6836 non-null   object
 10  Date décès                   3228 non-null   datetime64[ns]
 11  Phénotype                    6836 non-null   object
 12  Date de rejet                6836 non-null   object
 13  âge_lors_de_la_greffe        6836 non-null   int64
 14  âge_lors_de_l_examen         6836 non-null   int64
 15  âge_lors_du_décès            6836 non-null   int64
 16  âge_lors_du_rejet            6836 non-null   int64
 17  durée_de_vie_après_greffe    6836 non-null   int64
dtypes: datetime64[ns](3), float64(4), int64(6), object(5)
memory usage: 1014.7+ KB

In [ ]:
data['Date de rejet']=pd.to_datetime(data['Date de rejet'])
data['Date Examen']=pd.to_datetime(data['Date Examen'])

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6836 entries, 0 to 46887
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Patient                      6836 non-null   int64
 1   Date Naissance (MM/AAAA)     6836 non-null   datetime64[ns]
 2   Sexe                         6836 non-null   object
 3   Date de greffe               6836 non-null   datetime64[ns]
 4   VEMS en litre                6374 non-null   float64
 5   VEMS en % de la théorique    6678 non-null   float64
 6   Type de la greffe            6672 non-null   object
 7   VEMS en litre vrai           6747 non-null   float64
 8   VEMS en % de la théorique.1  6805 non-null   float64
 9   Date Examen                  6836 non-null   datetime64[ns]
 10  Date décès                   3228 non-null   datetime64[ns]
 11  Phénotype                    6836 non-null   object
 12  Date de rejet                6836 non-null   datetime64[ns]
 13  âge_lors_de_la_greffe        6836 non-null   int64
 14  âge_lors_de_l_examen         6836 non-null   int64
 15  âge_lors_du_décès            6836 non-null   int64
 16  âge_lors_du_rejet            6836 non-null   int64
 17  durée_de_vie_après_greffe    6836 non-null   int64
dtypes: datetime64[ns](5), float64(4), int64(6), object(3)
memory usage: 1014.7+ KB

In [ ]:
for i in range(data.shape[0]):
    data.iloc[i,13]=data.iloc[i,3].year-data.iloc[i,1].year
    data.iloc[i,14]=data.iloc[i,9].year-data.iloc[i,1].year
    data.iloc[i,15]=data.iloc[i,10].year-data.iloc[i,1].year
    data.iloc[i,16]=data.iloc[i,12].year-data.iloc[i,1].year
    data.iloc[i,17]=data.iloc[i,10].year-data.iloc[i,3].year

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6836 entries, 0 to 46887
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Patient                      6836 non-null   int64
 1   Date Naissance (MM/AAAA)     6836 non-null   datetime64[ns]
 2   Sexe                         6836 non-null   object
 3   Date de greffe               6836 non-null   datetime64[ns]
 4   VEMS en litre                6374 non-null   float64
 5   VEMS en % de la théorique    6678 non-null   float64
 6   Type de la greffe            6672 non-null   object
 7   VEMS en litre vrai           6747 non-null   float64
 8   VEMS en % de la théorique.1  6805 non-null   float64
 9   Date Examen                  6836 non-null   datetime64[ns]
 10  Date décès                   3228 non-null   datetime64[ns]
 11  Phénotype                    6836 non-null   object
 12  Date de rejet                6836 non-null   datetime64[ns]
 13  âge_lors_de_la_greffe        6836 non-null   int64
 14  âge_lors_de_l_examen         6836 non-null   int64
 15  âge_lors_du_décès            3228 non-null   float64
 16  âge_lors_du_rejet            6836 non-null   int64
 17  durée_de_vie_après_greffe    3228 non-null   float64
dtypes: datetime64[ns](5), float64(6), int64(4), object(3)
memory usage: 1014.7+ KB

In [ ]:
for i in range(data.shape[0]):
  if data.iloc[i,14]==256:
    print(i,data.iloc[i,14])

6604 256

In [ ]:
print(data.iloc[6604,9])

2201-10-02 00:00:00

In [ ]:
data['âge_lors_de_la_greffe'].unique(),data['âge_lors_de_l_examen'].unique(),data['âge_lors_du_décès'].unique(),data['âge_lors_du_rejet'].unique(),data['durée_de_vie_après_greffe'].unique()

(array([34, 26, 48, 58, 51, 33, 25, 17, 53, 20, 56, 21, 36, 65, 61, 42, 52,
        57, 28, 55, 59, 46, 16, 63, 29, 23, 39, 66, 27, 60, 50, 64, 30, 19,
        22, 47, 41, 68, 62, 45, 31, 15, 32, 38, 49, 24, 40, 44, 37, 43, 67,
        54, 35, 12, 14]),
 array([ 34,  26,  48,  58,  51,  35,  27,  25,  18,  53,  21,  57,  22,
         37,  65,  61,  49,  44,  52,  59,  29,  56,  60,  47,  16,  63,
         30,  23,  39,  77,  66,  28,  50,  31,  20,  32,  40,  62,  64,
         55,  41,  42,  43,  19,  24,  68,  46,  67,  33,  38,  45,  70,
         69,  54,  36,  12,  15,  14,  72,  71,  75,  76,  17,  73,  74,
         13, 256]),
 array([nan, 57., 66., 24., 23., 59., 53., 36., 64., 22., 58., 51., 62.,
        25., 68., 41., 76., 30., 67., 63., 42., 28., 60., 44., 61., 73.,
        55., 65., 40., 54., 35., 20., 27., 46., 69., 33., 70., 29., 48.,
        52., 72., 39., 50., 38., 56., 37., 34., 15., 31.]),
 array([36, 28, 52, 59, 32, 26, 19, 56, 22, 58, 25, 40, 71, 62, 30, 45, 61,
        18, 49, 60, 57, 17, 68, 29, 65, 53, 66, 37, 20, 23, 70, 64, 31, 41,
        50, 43, 34, 21, 67, 54, 46, 33, 51, 27, 63, 48, 55, 38, 24, 14, 47,
        69, 44, 39, 15]),
 array([nan,  9.,  8.,  6.,  7.,  3.,  5., 11.,  2.,  4., 10.,  1.,  0.]))

**il reste un petit problème avec la colonne "âge_lors_de_l_examen"**

**Dataset en fin prétraitement :**

In [ ]:
data.isnull().sum()

Patient                           0
Date Naissance (MM/AAAA)          0
Sexe                              0
Date de greffe                    0
VEMS en litre                   462
VEMS en % de la théorique       158
Type de la greffe               164
VEMS en litre vrai               89
VEMS en % de la théorique.1      31
Date Examen                       0
Date décès                     3608
Phénotype                         0
Date de rejet                     0
âge_lors_de_la_greffe             0
âge_lors_de_l_examen              0
âge_lors_du_décès              3608
âge_lors_du_rejet                 0
durée_de_vie_après_greffe      3608
dtype: int64

In [ ]:
data.head(10)

,Patient,Date Naissance (MM/AAAA),Sexe,Date de greffe,VEMS en litre,VEMS en % de la théorique,Type de la greffe,VEMS en litre vrai,VEMS en % de la théorique.1,Date Examen,Date décès,Phénotype,Date de rejet,âge_lors_de_la_greffe,âge_lors_de_l_examen,âge_lors_du_décès,âge_lors_du_rejet,durée_de_vie_après_greffe
0,34,1975-04-01,Féminin,2009-10-14,2.23,84.52,bi-pulmonaire,2.13,81.0,2009-11-27,NaT,BOS,2011-10-20,34,34,NaN,36,NaN
3,145,1984-03-01,Féminin,2010-03-24,0.79,29.00,bi-pulmonaire,1.30,47.0,2010-04-26,NaT,BOS,2012-02-01,26,26,NaN,28,NaN
15,223,1962-12-01,Féminin,2010-06-03,0.50,20.00,bi-pulmonaire,1.79,73.0,2010-07-13,2019-02-13,BOS,2014-04-01,48,48,57.0,52,9.0
17,174,1952-08-01,Masculin,2010-07-21,0.56,20.00,bi-pulmonaire,1.91,70.0,2010-08-12,2018-10-31,BOS,2011-12-15,58,58,66.0,59,8.0
23,293,1959-01-01,Masculin,2010-01-09,0.54,17.00,bi-pulmonaire,1.88,60.0,2010-03-15,2016-07-25,RAS,2011-01-03,51,51,57.0,52,6.0
26,34,1975-04-01,Féminin,2009-10-14,2.23,84.52,bi-pulmonaire,2.00,82.1,2010-04-12,NaT,BOS,2011-10-20,34,35,NaN,36,NaN
39,174,1952-08-01,Masculin,2010-07-21,0.56,20.00,bi-pulmonaire,1.95,72.0,2010-11-29,2018-10-31,BOS,2011-12-15,58,58,66.0,59,8.0
40,131,1984-12-01,Masculin,2010-07-28,1.05,23.00,bi-pulmonaire,4.60,98.0,2010-11-02,NaT,BOS,2016-12-27,26,26,NaN,32,NaN
41,131,1984-12-01,Masculin,2010-07-28,1.05,23.00,bi-pulmonaire,4.65,100.0,2011-01-26,NaT,BOS,2016-12-27,26,27,NaN,32,NaN
43,132,1977-02-01,Féminin,2010-02-17,0.72,27.00,NaN,1.10,42.0,2011-02-14,NaT,BOS,2013-08-19,33,34,NaN,36,NaN

In [ ]:
row = data.iloc[1]

VEMS en litre

In [ ]:
for index, row in data.iterrows():
    temps = [row["Date de greffe"], row["Date Examen"], row["Date de rejet"]]
    VEMS_litre = [0, 0, 0]
    for i in range(3):
        if temps[i] == row["Date de rejet"]:
            VEMS_litre[i] = row["VEMS en litre"]
        else :
            VEMS_litre[i] = row["VEMS en litre vrai"]
    plt.plot(temps, VEMS_litre)
plt.title("VEMS EN LITRE")    
plt.xlabel("temps")
plt.ylabel("VEMS_pourcentage")
plt.show()

In [ ]:
plt.savefig('my_graph.png')

VEMS en %

In [ ]:
for index, row in data.iterrows():
    temps = [row["Date de greffe"], row["Date Examen"], row["Date de rejet"]]
    VEMS_litre = [0, 0, 0]
    for i in range(3):
        if temps[i] == row["Date de rejet"]:
            VEMS_litre[i] = row["VEMS en % de la théorique"]
        else :
            VEMS_litre[i] = row["VEMS en % de la théorique.1"]
    plt.plot(temps, VEMS_litre)

In [ ]:
plt.savefig('VEMSpourcentage.png')